---

import AstroApp from "../components/App.astro"
import {App} from "wpt-viewer/Components/App"

---

<AstroApp>
    <main>
        <div>
            <App client:only />
        </div>
    </main>
</AstroApp>

<script>
import { initializeSource, loadConfig } from "wpt-viewer/Config";
import { initFromUrlParams } from "wpt-viewer/Routing";

await loadConfig();
initFromUrlParams();
await initializeSource();
</script>

<style>
    main {
        height: 100vh;
        width: 100vw;
    }

    div {
        display: flex;
        justify-content: safe center;
    }
</style>